<h1><%= @article.title%></h1>
<p><%= @article.description%></p>

<% if logged_in? && @article.user == current_user %>
  <%= link_to 'Edit Article', edit_article_path(@article) %> |
<% end %>
<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
  <%= link_to 'Delete Article', article_path(@article), data: { "turbo-method": :delete } %> |
<% end %>
<%= link_to 'Article Listings', articles_path %>
